<form method="post" action="{{ path('app_pers_phys_delete', {'id': pers_phy.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pers_phy.id) }}">
    <button class="btn btn-primary">Delete</button>
</form>
