{% extends 'base.html.twig' %}

{% block title %}New Rnpp{% endblock %}

{% block body %}
    <h1>Create new Rnpp</h1>

    {{ include('rnpp/_form.html.twig') }}

    <a href="{{ path('app_rnpp_index') }}" class="btn btn-primary" > Retour </a>
{% endblock %}
